
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#app {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 25% 75%;
    height: 100vh;
}

#menu {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

#search {
    background-color: #f2f2f2;
    padding: 10px;
}

#left-content {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#data-grid {
    padding: 10px;
    overflow-y: scroll;
}

#footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* ContextMenu-Stile */
.context-menu {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px;
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu li {
    padding: 5px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #ddd;
}

/* Hide the scrollbar for DataGrid */
#data-grid::-webkit-scrollbar {
    display: none;
}

/* Hide dropdown menus by default */
.hidden {
    display: none;
  }
  
  /* Style dropdown buttons */
  .dropdown-btn {
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    width: 100%;
    border: none;
  }
  
  /* Add a downward arrow icon */
  .dropdown-btn:after {
    content: '\25BC';
    float: right;
    margin-left: 5px;
  }
  
  /* Style the dropdown menu (hide on click) */
  .context-menu {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    position: absolute;
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .context-menu li {
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  /* Change color of links on hover */
  .context-menu li:hover {
    background-color: #f1f1f1
  }